
/* Flex Container 1 */
.flex-container-1 {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  justify-content: center;
}
.flex-container-1 .flex-item {
  flex: 0 1 calc(20% - 10px);
  border: 5px solid white;
  height: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  background-color: magenta;
  display: flex;
  margin-top: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Flex Container 2 */

/* Flex Container 3 */

/* use height: 400px; on the container */

/* Flex Container 4 */

/* Flex Container 5 */

/* Flex Container 6 */

.flex-container-6 .flex-item {
  width: 400px;
}

/* use height: 300px; on the container */
