:root {
  --main-color: #121212;
  --main-light-color: #ffffff;
  --bg-color: #333333;
  --pokemon-yellow: #faca15;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-color);
  background-color: var(--bg-color);
}

/* Add your code here */

.header {
  background-color: var(--pokemon-yellow);
  padding: 1rem;
  text-align: left;
}

.container {
  padding: 1rem;
  text-align: center;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.loading,
.error-message {
  color: var(--main-light-color);
}

.poke-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemonCard {
  background-color: var(--main-light-color);
  margin: 0.5rem;
  padding: 1rem 0.5rem 2rem 0.5rem;
  width: 300px;
  text-align: center;
}

.pokemonCard:hover {
  background-color: var(--pokemon-yellow);
}

.pokemonType {
  display: inline-block;
  background-color: var(--pokemon-yellow);
  padding: 0.25rem;
  margin: 0.25rem;
}

.display-none {
  display: none;
}
