/* CSS custom properties / CSS variables */

:root {
  --darkmagenta: #8b008b;
  --magenta: #ff00ff;
  --royalblue: #4169e1;
  --teal: #008080;
  --violet: #9400d3;
}

/* Use attribute selectors for the first part of the exercise */

li[class] {
  color: var(--red);
}

section ol li.dog {
  color: var(--magenta);
}
section ol li#cat {
  color: var(--teal);
}
section ol li.parrot {
  color: limegreen;
}
section ol li.donkey {
  color: var(--royalblue);
}
section ol li.hedgehog {
  color: var(--magenta);
}
section ol li.cat.dog.parrot {
  color: var(--royalblue);
}

/* Use descendant, child, and sibling selectors for the second part */

li[class~='dog'] {
  color: var(--magenta);
}
li[id^='c'] {
  color: var(--teal);
}
li[class*='do'] {
  color: var(--royalblue);
}
li[class$='g'] {
  color: var(--violet);
}
section li {
  color: var(--green);
}
.first ~ li {
  color: var(--magenta);
}
.second + li {
  color: var(--royalblue);
}