/* Add your CSS code here  */
:root {
  --text-color: #333333;
  --ice-blue-juvie: #8fbcd4;
  --gothic-gray-blue: #6f8796;
  --dark-slate-infinity: #1f2a33;
  --gray-border: #ccc;
  --table-background: #f1f1f1;
  --table-emphasis-background: #dbdbdb;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  color: var(--text-color);
  line-height: 1.6;
}

.nav {
  background-color: var(--dark-slate-infinity);
}

.nav-list {
  margin: 0;
  padding: 1rem;
  padding-left: 0;
  list-style: none;
  text-align: center;
}

.nav-item {
  display: inline-block;
  margin: 0 1rem;
}

.nav-link {
  color: var(--ice-blue-juvie);
  text-decoration: none;
  padding: 0.25rem;
  border-radius: 4px;
  font-weight: 500;
}

.nav-link:hover {
  background-color: var(--ice-blue-juvie);
  color: var(--dark-slate-infinity);
}

.books-container {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 1rem;
}

.main-heading {
  margin: 2rem;
  text-align: center;
  color: var(--gothic-gray-blue);
}

.font-cinzel {
  font-family: "Cinzel";
}

/* Section Styles */

.secondary-heading {
  border-bottom: 1px solid var(--gray-border);
}

/* Book list styles */

.books-list li {
  margin: 0.5rem 0;
}

.books-list li > ol {
  margin-top: 0.4rem;
}

.images-container {
  text-align: center;
}

.book-image {
  transition: transform 0.2s ease;
  border-radius: 5px;
}

.book-image:hover {
  transform: scale(1.1);
}

/* Table Styles*/
.table {
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid var(--gray-border);
  text-align: center;
  padding: 0.5rem;
}

.table tr:nth-child(even) {
  background-color: var(--table-background);
}

.table-heading {
  background-color: var(--table-emphasis-background);
}

.table-footer td {
  font-weight: bold;
  background-color: var(--table-emphasis-background);
}
